/* Menu container */
.menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual Menu (appears on top) */
  .menu .menu-content {
    /* visibility: hidden;
    min-width: 175px;
    background-color: #555;
    color: #fff;
    text-align: left;
    //border-radius: 6px;
    padding: 6px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%; 
    margin-left: -13px; */

    visibility: hidden;
    min-width: 175px;
    background-color: #555;
    color: #fff;
    text-align: left;
    padding: 6px;
    position: absolute;
    top: 100%;
    right: 50%;
    margin-right: -22px;
    z-index: 1050;
  }
  
  .menu .menu-content a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 2px 4px;
  }

  .menu .menu-content a:hover {background-color: rgb(173, 171, 171)}

  /* Toggle this class when clicking on the Menu container (hide and show the Menu) */
  .menu .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the Menu) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }