/* ========================= Header ========================= */
.navbar {
    padding: 0px;
}
.navbar .container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 5px;
    margin-left: 0px;
}
.navbar .container img{
   padding-right: 30px;
   width: 100px;
   height: 47px;
}
.navbar-nav .nav-link {
   padding-right: 20px;
   padding-left: 20px;
}
.bg-dark {
   background-color: #064179!important;
}
/* ========================= //Header ========================= */



/* ========================= Home ========================= */

/* Date Picker */

.react-datepicker-wrapper{
    display: block !important;
    height: var(--form-element-height, 32px);
    padding: 0.25rem 0.5rem !important;
    font-size: 12px;
    line-height: 1.5;
    border-radius: var(--form-element-border-radius, 0.2rem);
    width: 100%;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--form-element-border-color, #ced4da) !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
   
  .react-datepicker-wrapper input{
    border:none !important;
    outline: none !important;
    width: 100% !important;
  }

/* //Date Picker */

/* OK button */
.form-row .btn-lg{
    background-color:#064179; 
    color:white;
    width: 50%;
}
/* //OK button */

/* Reset button */
.form-row .btn-link{
    color:#327BDC; 
}
/* //Reset button */

/* ========================= //Home ========================= */



/* ========================= Dashboard ========================= */

.container .bg-light{
    padding-left: 0px;
    padding-right: 0px;
}


/* Input Bundle Id */

.form-row .bundle-id{
    text-align:center;
    padding-top: 20px;
}

/* //Input Bundle Id */

/* Detail Button */
.detail-button{
    background-color: #E6F1F7;
    color: black;
    border-color: #E6F1F7;
    margin-bottom: 5px;
}
/* Close Button */
.detail-close{
    color: red;
    margin-left: 4px;
}
/* //Close Button */

.detail-label{
    background-color: #E6F1F7;
    color: black;
    border-color: #E6F1F7;
    margin-bottom: 20px;
}
/* //Detail Button */

/* hr */
#hr-1{
    margin-top: 30px;
    margin-bottom: 30px;
}
/* //hr */

/* Edit Buttons */

.col-6 .text-box{
    width: 96px;
}

.row-edit-tools{
    display: flex;
    justify-content: center;
}

.row-edit-tools .btn-lg{
    background-color: #0287F8;
    color: white;
    width: 80px;

}

/* // Edit-Buttons */


/* ========================= //Dashboard =========================  */


/***************** Absolute Center Spinner *****************/
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
      background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
  }
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 150ms infinite linear;
    -moz-animation: spinner 150ms infinite linear;
    -ms-animation: spinner 150ms infinite linear;
    -o-animation: spinner 150ms infinite linear;
    animation: spinner 150ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  }
  /* Animation */
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

 /***************** End Absolute Center Spinner *****************/

 /***************** ScanBundle **********************************/

 .header-label {
    font-size: 14px;
    font-weight: bold;
 }

 .header-content {
    font-size: 14px;
 }

 .close:hover {
    outline: none;
 }

 .main-label {
  font-size: 16px;
  font-weight: bold;
 }

 hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
 }

 .btn-group-lg{
   width: 93%;
 }

 .content-wrapper{
  display: flex;
  height: calc(100vh - 112px);
 }

 .form-control-plaintext:focus{
  outline: none;
 }

 .display-text{
  color: #064179 !important;
  font-weight: 600 !important;
  /* background-color: #ebf6ff;
  text-align: center;
  border-radius: 20px;
  margin-top: 6px;
  font-size: 1rem; */
 }

 /***************** End ScanBundle **********************************/